|$(document).ready(function () {
|    var cal = new CalHeatMap();
|    var calendar = $("#cal-heatmap").data("calender");
|    cal.init({
|        itemSelector: "#cal-heatmap",
|        domain: "month",
|        subDomain: "x_day",
|        domainGutter: 10,
|        data: calendar,
|        cellSize: 15,
|        align: 'center',
|        cellRadius: 3,
|        cellPadding: 2,
|        tooltip: true,
|        range: 6,
|        start: new Date().setDate(new Date().getDate() - 150),
|        legendColors: ["#cccccc", "#215f1e"],
|        legend: [1, 2, 3],
|        label: {
|            position: "top"
|        }
|    });
|});
